.CurrenttrackContainer{
    height: 100%;
    display: flex;
    align-items: center;
.track {
    margin-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.track__info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
.track__info__track__name{
    color: white;
  }
.track__info__track__artists {
    color: #b3b3b3;
  }
}